<section id="experience" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">Experiencia</h6>
                <h1>Mi experiencia laboral</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-4" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base">
                    <div class="card-custom-image rounded-4">
                        
                        <a class="margen">
                            <div class="overlay"><i class="las la-edit"></i></div>
                            <img class="rounded-4" src="./assets/images/blog-post-1.jpg" alt="" height="200" width="500">
                        </a>
                    </div>
                    <div class="card-custom-content p-4 cabecera">
                        <div>
                            <p class="text-brand mb-2">Deciembre 2020 - Marzo 2022</p>
                            <h5 class="mb-4">Programador web freelancer</h5>
                            <a href="#" class="link-custom">Read More</a>
                        </div>
                        <i class="las la-edit"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>