<section id="education" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">Educacion</h6>
            </div>
        </div>

        <div class="row gy-5">
            <div class="col-lg-12">
                <div class="row gy-4">

                    <div class="bg-base p-4 rounded-4 shadow-effect cabecera" data-aos="fade-up" data-aos-delay="600">
                        <div>
                            <h4>Técnico Universitario en Desarrollo de Software</h4>
                            <p class="text-brand mb-2">Universidad Nacional de la Matanza (2019 - 2023)</p>
                            <p class="mb-0">Aca deberia escribir algo de mi carrera pero no se me ocurre nada</p>
                        </div>
                        <i class="las la-edit"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
