<section id="skills" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">Habilidades</h6>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-4" data-aos="fade-up">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <h5>Front End</h5> 
                    <h6><i class="lab la-js-square"> </i> Javascript</h6> 
                    <input type="range" style="width: 100%;">

                    <p></p>
                    <h6><i class="lab la-html5"></i> HTML5</h6>
                    <input type="range" style="width: 100%;">

                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <h5 class="mt-4 mb-2">Back End</h5>
                    <h6><i class="lab la-js-square"> </i> Javascript</h6> 
                    <input type="range" style="width: 100%;">

                    <p></p>
                    <h6><i class="lab la-html5"></i> HTML5</h6>
                    <input type="range" style="width: 100%;">
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <h5 class="mt-4 mb-2">Soft Skills</h5>
                    <h6><i class="lab la-js-square"> </i> Javascript</h6> 
                    <input type="range" style="width: 100%;">

                    <p></p>
                    <h6><i class="lab la-html5"></i> HTML5</h6>
                    <input type="range" style="width: 100%;">
                </div>
            </div>

        </div>

    </div>
</section>