<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
<body>
  <div class="container">
    <form>
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="text" placeholder="Usuario"/>  
      </div>
      <div class="field">
        <span class="fa fa-lock"></span>
        <input type="password" placeholder="Contraseña"/>
      </div>
        <button routerLink="/portfolio">Ingresar</button>
    </form>
  </div>
</body>